body{
  background-color: #232323;
  /* without margin:0,there will be small space around h1 caused by body */
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}
.square{
  background-color: purple;
  width:30%;
  padding-bottom:30%;
  margin:1.66%;
  float:left;
  border-radius: 15%;
  transition: background-color 0.6s;
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
}
#container{
  margin: 20px auto;
  max-width: 600px;
}
h1{
  line-height: 1.1;
  padding:20px 0;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0;
  background: steelblue;
  color:white;
}
#stripe{
  height:30px;
  background: white;
  text-align: center;
}
.selected{
  background:lightblue;
  color:white;
  background-color: steelblue;
}
.hide{
  display:none
}
#colorDisplay{
  font-size: 200%;
}
button{
  border: none;
  background: none;
  text-transform: uppercase;
  height:100%;
  color:steelblue;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  transition:all,0.3s;
  -webkit-transition:  all,0.3s;
  -moz-transition:  all,0.3s;
  outline: none;
}
#message{
  display:inline-block;
  width:20%
}
button:hover{
  color:white;
  background-color: steelblue;
}